/* @font-face {
  font-family: myFont;
  src: url(Font/netflix-sans-cufonfonts/NetflixSansRegular.ttf);
} */
* {
  letter-spacing: 0 !important;
  color: white;
  margin: 0px;
  padding: 0px;
}
body {
  position: relative;
  background-color: rgb(7, 7, 26);
  margin: 1px;
  /* font-family: myFont,'Poppins',sans-serif; */
  font-family: myFont,'Poppins',sans-serif;

  box-sizing: border-box;
}
#header {
  /* min-height: 65.25rem; */
  min-height: 1044px;
  background-image: linear-gradient(0deg, rgba(0, 8, 29, 0.7), rgba(0, 8, 29, 0.7)),url(images/background.jpg);
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
.button {
  background-color: #e50914;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
}
#left-side img {
  width: 12rem;
  height: 3.785rem;
  /* width: 192px;
  height: 60.56px; */
}
#nav-bar {
  height: 5.50rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  margin-left: -3.75rem;
  margin-right: 2.5rem;
  margin-bottom: 6.25rem;
}
#right-side {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}
.country{
  min-width: auto;
  width: auto;
    position: relative;
    display: inline-flex;
}
.country{
  min-width: auto;
  width: auto;
  fill: currentColor;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(255,255,255);
}
.default-ltr-cache-iyxs8w>svg {
  width: 100%;
  height: 100%;
  display: block;}
#con {
  width: 120px;
  height: 32px;
  border: 1px solid #999;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  /* padding: 10px; */
  box-shadow: 10px #fffdfd;
}
#left-side {
  width: 60%;
}
#info {
  /* width: 60%;
    /* margin: center; */
  /* margin-left: 8.5%;  */
  padding-left: 8.5%;
}

h1 {
  width: 70%;
  height: fit-content;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0px;
}
h3 {
  font-size: x-large;
  margin-top: 0px;
  margin-bottom: 60px;
}

#mailbox {
  background: linear-gradient(0deg, rgba(0, 8, 29, 1), rgba(0, 8, 29, 1))
      padding-box,
    linear-gradient(271.65deg, #233371 5.26%, #00197a 50.02%, #e50914 97.68%)
      border-box;
  border: 4px solid transparent;
  border-radius: 8px;
  width: 80%;
  padding: 0 100px 20px 40px;
  margin-bottom: 0px;
  position: relative;
}

#back{
  position: absolute;
  bottom: 0;
  left: 0;
   height: 100.25rem;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 8, 29, 0) 0%, #00081D 93.46%); 
}

#tex p {
  color: white;
  text-align: start;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
}
#ema {
  /* width: 350px; */
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 15px 8px 15px 15px;
  font-size: medium;
  border-radius: 8px;
  /* border: 0px;
  outline: 0px; */

}
#mailbox input, #email input{
  width: 32%;
}
#mailbox  input, #email  input{
  /* border: 1px solid white; */
  border-style: solid;
  border-radius: 0.25rem;
  background: rgba(22, 22, 22, 0.7);
  border-color: rgba(128, 128, 128, 0.7);
}
#mailbox input:focus, #email input:focus{
  outline: rgb(255, 255, 255) solid 0.125rem;
  outline-offset: 0.125rem;
}
#btn {
  box-sizing: border-box;
  margin-left: 5px;
  background-color: #e50914;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 14px 30px;
  border-radius: 8px;
  border: 2px solid #e50914;
}
.default-l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: inherit;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 26.25rem;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 8, 29, 0) 0%, #00081D 93.46%);
}
#body{
  margin-top: -380px; 
}
#body {
  box-sizing: border-box;
  width: 92%;
  margin: auto;
  background-color: rgba(7, 6, 37, 0.96);
  padding: 12px min(10%, 6.25rem);
  /* margin-top: -0; */
  border-radius: 20px;
}
.box {
  display: flex;
  justify-content: center;

  border-bottom: 1px solid #694f51;
}

.para h1 {
  width: 100%;
  margin-top: 150px;
  font-size: 43px;
}
.desc h4 {
  width: 100%;
  font-size: larger;
}
.box:nth-child(even) {
  flex-direction: row-reverse;
  align-self: flex-start;
}
#box4 {
  border-bottom: 0px;
  /* margin-bottom: 300px; */
}

#footer {
  box-sizing: border-box;
  width: 96%;
  margin: auto;
  padding: 12px min(10%, 6.25rem);
  padding: 180px min(10%, 6.25rem);
  box-sizing: border-box;
}

#layout-item h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

li {
  list-style: none;
}
.lis {
  padding-left: 0px;
  margin-bottom: 8px;
}

.butt {
  width: 97%;
  background-color: #2333718a;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  padding: 26px;
  cursor: pointer;
  border: 0px;
  outline: 0px;
  /* border-color: 1px s #fffdfd; */
  margin-left: 5px ;
}

.butt:hover {
  background-color: #233371b4;
}

.mail1 {
  padding: 20px;
  margin: 20px;
}
.mail1 #email {
  margin-top: 20px;
}

#mail,
#content-info {
  margin-top: 0px;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
#call {
  margin-top: 220px;
  margin-left: 15px;
}
#call p,
p a {
  color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  margin-bottom: 50px;
}

#details{
    display: block;
}
#list2 a {
    width: 50%;
  color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  margin-left: -2px;
  margin-top: 100px;
  /* padding: 24px; */
  
}



.li1 {
    width: 15%;
  padding: 2px;
  margin: 5px 100px 5px 15px;

} 
#info1{
    width: 100%; 
}
#info1 #list2 {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}
#cont{
    margin-top: 40px;

    margin-left: 15px;
    padding: 3px;
}
#net p{
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 15px;
}

#footer{
  position: absolute;
  top: 2600px;
  left: 40px;
  /* margin-left: 20px; */
}
#body{
  position: absolute;
  top: 675px;
  left: 60px;
}